<div class="center">

  <div class="card" style="width: 20rem;">
    <img
      src="https://images.unsplash.com/photo-1483354483454-4cd359948304?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
      class="card-img-top" alt="asdf">
    <div class="card-body">
      <h2 class="card-title">Bitte einloggen!</h2>

      <hr>

      <!--<button id="loginbtnS" class="btn btn-dark" (click)="loginS()"><span class="fas fa-sign-in-alt"></span> Login with
        Shibboleth SSO (not implemented)
      </button>-->

      <button id="loginbtnK" class="btn btn-dark mt-2" (click)="loginK()"><span class="fas fa-sign-in-alt"></span> Login
        with Keycloak SSO
      </button>
    </div>
  </div>
</div>
